/* Handle offline font loading */
// $fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
// $fa-font-display: auto !default;
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@use "~/@fontsource/lato/scss/mixins" as Lato;
@use "~/@fontsource/raleway/scss/mixins" as Raleway;
@use "~/@fontsource/sixtyfour/scss/mixins" as SixtyFour;

// Include both normal and bold weights
@include Lato.faces($directory: "../webfonts", $weights: (400, 700));
@include Raleway.faces($directory: "../webfonts");
@include SixtyFour.faces($directory: "../webfonts");

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

// @import "~/@fontsource/lato/index.css";
// @import "~/@fontsource/lato/index.css";

html,
body,
.container {
  font-family: "Lato", sans-serif;
}

.jumbotron .container {
  font-family: "Raleway", sans-serif;
}

.title-header > .title {
  font-family: "SixtyFour", sans-serif;
}
